<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Future Util</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .btn-tiny {
      width: 20px;
      height: 20px;
      padding: 1px;
    }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Future</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-search fa-fw"></i> Search</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                      <h4><%=order.RIF%></h4>
                    </div>
                    <div class="col-md-3">
                      <h4><%=order.DESCR1%></h4>
                    </div>
                    <div class="col-md-3">
                      <h4><%=order.COMMESSA_CLI%></h4>
                    </div>
                    <div class="col-md-3">
                      <h4><%=(new Date(order.DATACONS)).toDateString()%></h2>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="order-table" class="table-responsive">
                      <table class="table table-bordered">
                        <tbody>
                        <%
                        // Get list of workings
                        var workingsMap = {};
                        order.lines.forEach(function(line) {
                          line.pieces.forEach(function(piece) {
                            piece.workings.forEach(function(working) {
                              workingsMap[working.WORKKIND_CODICE] = working.PRIOWORK;
                            });
                          });
                        });
                        var workingsList = [];
                        Object.keys(workingsMap).forEach(function(workkind) {
                          workingsList.push({work: workkind,priority:workingsMap[workkind]});
                        });
                        workingsList.sort(function(a,b) {return a.priority-b.priority});
                        workingsMap = {};
                        workingsList.forEach(function(work, i) {
                          workingsMap[work.work] = i;
                        });
                        %>
                        <% order.lines.forEach(function(line) { %>
                          <tr>
                            <th>Line: <%=line.RIGA%></th>
                            <th><%=line.CODMAT%></th>
                            <th><%=line.DIMX_INCH + ' x ' + line.DIMY_INCH%></th>
                          </tr>
                          <tr>
                            <th>
                            <%
                            workingsList.forEach(function(working) {
                            %>
                            <td class="text-center"><%=working.work%></td>
                            <%
                            });
                            %>
                          </tr>
                          <% line.pieces.forEach(function(piece) { %>
                            <tr>
                              <td><%=piece.PROGR%></td>
                              <%
                              var compWorkList = new Array();
                              piece.workings.forEach(function(working) {
                                compWorkList[workingsMap[working.WORKKIND_CODICE]] = {STATO:working.STATO};
                              });
                              for(var i = 0; i < workingsList.length; i++) {
                                var working = compWorkList[i];
                                console.log(working)
                              %>
                                <td class="text-center">
                                  <% if(working) { %>
                                    <% if(working.STATO == 1 || working.STATO == 99) { %>
                                    <button class="btn btn-tiny btn-<%=working.STATO==99?'info':'warning'%> btn-circle"><i class="fa fa-<%=working.STATO==99?'check':'times'%>"></i></button>
                                    <% } else { %>
                                    <%=working.STATO%>
                                    <% } %>
                                  <% } %>
                                </td>
                              <% } %>
                            </tr>
                          <% }); %>
                        <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            
            <!-- templates -->
            <div hidden>
              
              <span id="order-line-template">
                <table>
                  <tbody>
                    <tr>
                      <td class="order-number"></td>
                      <td class="order-customer"></td>
                      <td class="order-customer-po"></td>
                      <td class="order-type"></td>
                      <td class="order-due-date"></td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <script src="/js/metisMenu.min.js"></script>
    
    <script>
    
    
    </script>

</body>

</html>
